/* header */
*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-transform: capitalize;
 text-decoration: none;
}
body{
    min-height: 100vh;
    background: url(images/image.png)no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    height: 12vh;
    top: 0;
    left: 0;
    right: 0;
    background: hwb(60 22% 76%);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    display:flex;
    height: 100%;
    width: 20%;
    margin:10px 15px;
}
h4{
    font-size: 30px;
}
.lg{
position:relative;
font-weight: bold;
margin-left:5px;
margin-top: 10px;
font-family: Arial, Helvetica, sans-serif;
color: white;
}
header .navbar ul{
list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;

}
.navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
    
}
.navbar ul li a:hover{
    background: #daf09c;
    color: rgb(19, 19, 20);
}
.navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: rgba(111, 118, 112, 0.4);
    display: none;
}
.navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgb(11, 11, 11);
}
.navbar ul li ul li ul{
    left: 50px;
    top: 0;
}
.navbar ul li:focus-within >ul,
.navbar ul li:hover > ul{
    display: initial;
}

header label{
    font-size: 20px;
    color: rgb(223, 217, 229);
    cursor: pointer;
    display: none;
    background-color: rgb(21, 20, 20);
    padding: 5px;
    border-radius: 3px;
}

#check{
    display: none;
}


@media(max-width:991px){
    header{
        padding: 20px;
    }
    header label{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;right: 0;
        background:rgb(113, 116, 116);
        border-top: 1px solid rgb(11, 10, 10);
        display: none;
    }
    .navbar ul li{
        width: 100%;
    }
    .navbar ul li ul{
        position: relative;
        width: 100%;
        height: 5vh;
    }
    .navbar ul li ul li{
        background:hsl(135, 12%, 40%);
    }
    .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    #check:checked~.navbar{
        display: initial;
    }

}



/* footer */

.footer{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    background: #10182F;
    border-radius: 6px;
}
.footer .footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:9.5rem;
    padding: 60px;
}
.footer-row .footer-col h4{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
   padding-bottom: 15px;

}
.footer-col .links{
    list-style: none;
    margin-bottom: 10px;
   

}
.footer-col .links a{
    text-decoration: none;
    color: #bfbfbf;
 

}

.footer-col .links li a:hover{
    color: #fff;
}
.footer-col p{
    margin: 20px o;
    color: #bfbfbf;
    max-width: 300px;
}
.footer-col form{
    display: flex;
    gap: 5px;
}
.footer-col input{
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline:none;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}
.footer-col input::placeholder{
    color: #ccc;

}
.footer-col form button{
    background:#fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
font-weight: 500;
transition: 0.2s ease;
}
.footer-col form button:hover{
    background: #cecccc;
}
.footer-col .icons{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}
.footer-col .icons i{
    color:#afb6c7;
}
.footer-col .icons i:hover{
    color: #fff;
}
@media(max-width:768px){
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }
    .footer .footer-row{padding: 20px;
    gap:1rem;
    }
    .footer-col form{
        display: block;
    }
    .footer-col form :where(input, button){ width: 100%;
}
.footer-col form button {
  margin: 10px 0 0 0;
}
}